 * { padding:0; margin:0 }

 body { font: 16px "Trebuchet MS" }

 label { display: block; padding:10px; }

 input { border:1px solid #000; background: #ccc; padding: 10px; display: block; }

 button { cursor: pointer; border: 2px solid darkred; background: red; color:#fff; padding:10px; }

 fieldset { padding:10px; margin: 0 auto; background: #eee; border:1px solid #ccc }

 legend { text-transform: uppercase; font-size: 18px; text-align: center; }


 /* Novo */
#menu-navegacao { width: 65%; margin: 0 auto;}
#menu-navegacao li {display: inline-block; padding:10;}
#menu-navegacao li a { padding:10px;}
#menu-navegacao li a:hover { background: red; color: #fff} 

table { width: 60%; margin: 0 auto; background: #eee}


/**
* coloque essa linha nos arquivos php para estilizar os fomulários:
coloque na parte do html, fora do <?php ?>
<link href="css/estilos.css" type="text/css" rel="stylesheet" />
alterei
*/